.datepicker input[type="text"]
{
	background: url("/assets/active_admin/datepicker/datepicker-input-icon.png") no-repeat scroll 100% 7px white;
	padding-right: 27px;
}

body.active_admin #footer
{
	text-align: right;
}

#titlebar_left .breadcrumb a 
{ 
	color: #ffffff; 
}

#main_content .attributes_table table td
{
	color: #000000;
}
