<p>Hola <%= @resource.email %>!</p>
<p>Algú ha demanat un enllaç per a canviar la teua contrasenya. Pots fer-ho seguint l'enllaç que hi ha més avall.</p>
<p><%= link_to 'Canvia la meua contrasenya', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si tu no has demanat canviar la contrasenya, per favor ignora este correu.</p>
<p>El teu correu no canviarà fins que accedisques amb l'enllaç i canvies la teua contrasenya.</p>

<hr />

<p><i>Hola <%= @resource.email %>!</i></p>
<p><i>Alguien ha pedido un enlace para cambia tu contraseña. Puedes hacerlo siguiendo el enlace que hay más abajo.</i></p>
<p><i><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></i></p>
<p><i>Si tu no has solicitado cambiar la contraseña, por favor ignora este correo.</i></p>
<p><i>Tu correo no cambiará hasta que accedas con este enlace y cambies tu contraseña.</i></p>

<hr />

<p><i>Departament d'Informàtica</i></p>
<p><b>Ajuntament de Carlet</b></p>
<a href="www.carlet.es">www.carlet.es</a>